.style-36 {
  background-image: url(https://designresources.assets.yotako.io/40599uljhkm1veh.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 375px;
  height: 62px;
  flex-direction: column
}
.-image-9-row-0 {
  display: flex;
  margin-left: 27px;
  margin-top: 0;
  width: 338px;
  height: 68px;
  flex-shrink: 0
}
.style-37 {
  background-color: #fff;
  border-left: 1px solid #a7a7a7;
  border-right: 1px solid #a7a7a7;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
  margin-left: 0;
  width: 38px;
  height: 100%;
  align-self: stretch
}
.style-49 {
  margin-left: 5px;
  margin-top: 16px;
  width: 29px;
  height: 42px
}
.style-42 {
  background-color: #ffbd3e;
  box-shadow: 0 2px 3px 1px rgba(3,3,3,.75);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  margin-left: 27px;
  margin-top: 13px;
  width: 72px;
  height: 14px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-43 {
  color: #000;
  font-family: garamond,serif;
  font-size: .5em;
  font-weight: 500;
  height: 7px
}
.style-38 {
  background-color: #ffbd3e;
  box-shadow: 0 2px 3px 1px rgba(3,3,3,.75);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  margin-left: 9px;
  margin-top: 13px;
  width: 50px;
  height: 14px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-39 {
  color: #000;
  font-family: garamond,serif;
  font-size: .5em;
  font-weight: 500;
  height: 6px
}
.style-47 {
  background-color: #ffbd3e;
  box-shadow: 0 2px 3px 1px rgba(3,3,3,.75);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  margin-left: 9px;
  margin-top: 13px;
  width: 63px;
  height: 14px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-48 {
  color: #000;
  font-family: garamond,serif;
  font-size: .5em;
  font-weight: 500;
  height: 8px
}
.style-40 {
  background-color: #ffbd3e;
  box-shadow: 0 2px 3px 1px rgba(3,3,3,.75);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  margin-left: 9px;
  margin-top: 13px;
  width: 42px;
  height: 14px;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.style-41 {
  color: #000;
  font-family: garamond,serif;
  font-size: .5em;
  font-weight: 500;
  height: 6px
}
.-image-9-row-0-column-5 {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  width: 14px;
  height: 40px;
  align-items: stretch;
  flex-direction: column
}
.style-46 {
  margin-top: 0;
  height: 14px
}
.style-45 {
  margin-top: 1px;
  height: 11px
}
.style-44 {
  margin-top: 2px;
  height: 12px
}
.style-32 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 169px;
  align-self: stretch;
  flex-direction: column;
  flex-shrink: 0
}
.style-35 {
  color: #000;
  text-align: justify;
  font-family: centurygothic,serif;
  font-size: .875em;
  font-weight: 500;
  margin-left: 69px;
  margin-top: 12px;
  height: 15px
}
.-image-9-container-5-row-1 {
  display: flex;
  margin-top: 5px;
  width: 361px;
  height: 119px;
  align-items: stretch;
  align-self: center
}
.style-33,
.style-34 {
  color: #000;
  text-align: justify;
  font-family: garamond,serif;
  font-size: .5em;
  line-height: 9px;
  margin-left: 0;
  width: 167px
}
.style-34 {
  margin-left: 27px
}
.style-2,
.style-31 {
  position: relative;
  display: flex;
  flex-direction: column
}
.style-31 {
  margin-left: 0;
  width: 375px;
  align-items: stretch;
  margin-top: 102px;
  height: 821px
}
.style-2 {
  background-color: #3e3e3e;
  margin-top: 740px;
  height: 204px;
  flex-shrink: 0
}
.style-50,
.style-6 {
  margin-top: 79px;
  width: 186px;
  height: 2px;
  align-self: center
}
.style-50 {
  margin-top: 9px;
  width: 56px;
  height: 56px
}
.-container-4-container-0-row-2 {
  position: relative;
  display: flex;
  margin-left: 21px;
  margin-top: 13px;
  width: 281px;
  height: 17px
}
.style-8 {
  color: #fff;
  font-family: garamond,serif;
  font-size: .6875em;
  margin-left: 0;
  height: 9px;
  flex-shrink: 0
}
.style-15,
.style-9 {
  color: #fff;
  font-size: .5em;
  flex-shrink: 0
}
.style-9 {
  position: relative;
  width: 128px;
  align-self: stretch;
  font-family: garamond,serif;
  margin-left: 11px
}
.style-15 {
  font-family: centurygothic,serif;
  margin-left: 53px;
  margin-top: 3px;
  height: 6px
}
.style-4 {
  margin-left: 33px;
  width: 11px;
  height: 11px;
  flex-shrink: 0
}
.-container-4-container-0-row-3 {
  display: flex;
  margin-left: 264px;
  margin-top: 7px;
  width: 62px;
  height: 14px;
  align-items: stretch
}
.style-3 {
  margin-left: 0;
  width: 12px
}
.style-5 {
  margin-left: 35px;
  width: 14px
}